<!DOCTYPE html>
<html>
  <head>
    <title>Qutelaunch</title>
    <style>
{% include "styles.css" %}
    </style>
  </head>
  <body>
    <div class=vertical-placeholder></div>
    <div class=list-container>
      {% macro make_list(urls) -%}
        {% for url in urls %}
          <li>
            {% set url_string = url.geturl() -%}
            <a href="{{url_string}}">
            {% if url.scheme == "file" %}
              {# TODO a file icon #}
              <img width=16 height=16>
            {% else %}
              <img
                src="https://external-content.duckduckgo.com/ip3/{{url.netloc}}.ico"
                width=16 height=16
              >
            {% endif %}
              {{url_string}}
            </a>
          </li>
        {% endfor %}
      {%- endmacro %}
      <ul class=weekly-highlights-list>
        {{ make_list(weekly_highlights_urls) }}
      </ul>
      <ul class=most-visited-list>
        {{ make_list(most_visited_urls) }}
      </ul>
      <ul class=bookmarks-list>
        {{ make_list(bookmarks_urls) }}
      </ul>
    </div>
    <div class=vertical-placeholder></div>
  </body>
</html>
