/* vim: set filetype=jinja.css: */

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: monospace;
  background-color: {{ color_scheme.background }};
  color: {{ color_scheme.foreground }};
  margin: 0;
  display: flex;
  flex-direction: column;
}

h2 {
  font-style: italic;
  color: {{ color_scheme.section_header }};
}

.vertical-placeholder {
  flex: 1 1 0;
}

.list-container {
  padding: 0;
  margin: 0;
  flex: 0 0 auto;
  display: flex;
}

.list-container ul {
  padding: 3%;
  margin: 0;
  min-width: 0;
  flex: 1 1 0;
  list-style: none;
}

.list-container ul + ul {
  padding-left: 0;
}

.list-container ul li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-container ul li a {
  text-decoration: none;
  color: {{ color_scheme.foreground }};
}

.list-container ul li a img {
  display: inline-block;
  vertical-align: top;
}
