/* vim: set filetype=jinja.css: */

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;

  font-family: monospace;
  background-color: {{color_scheme.background}};
}

.vertical-placeholder {
  flex: 1 1 0;
}

.columns-container {
  display: flex;
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
}

.column {
  flex: 1 1 0;
  padding: 3%;
  margin: 0;
  min-width: 0;
}

.column + .column {
  padding-left: 0;
}

.column h2 {
  color: {{color_scheme.section_header}};
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.entry-container {
  display: flex;
}

.url-container {
  flex: 1 1 auto;
  min-width: 0;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.url-container a {
  text-decoration: none;
  color: {{color_scheme.foreground}};
}

.favicon-container {
  flex: 0 0 auto;
  background-color: {{color_scheme.foreground}};
}

.favicon-container a {
  text-decoration: none;
  vertical-align: top;
}
