body {
  font-family: monospace;
}

.list-container {
  display: flex;
}

.list-container ul {
  width: calc(100% / 3);
  flex: 1 1 auto;
  list-style: none;
}

.list-container ul li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-container ul li a {
  text-decoration: none;
}

.list-container ul li a img {
  display: inline-block;
  vertical-align: top;
}
